{{#if isHasLayout}}
    <div id="app">
        <div class="app-wrapper">
            <section id="page-wrapper">
                <div id="window">
                    <!--<div style="height:900px;">-->
                        
                        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
                            {{partial 'partials/navbar'}}
                            <div {{action 'handle_menu'}} aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button"><i class="material-icons">menu</i></div>
                            {{partial 'partials/sidebar'}}
                            
                            <main class="mdl-layout__content">
                                <div class="mdl-layout__obfuscator"></div>
                                <section class="page-content">
                                    {{outlet}}
                                </section>
                            </main>
                            
                        </div> 
                    <!--</div>-->
                </div>
            </section>
        </div>
    </div>
{{else}}
    {{outlet}}
{{/if}}

